*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    display: flex;
    justify-content: space-between;
}

.head input{
    height: 5px;
    
}
.row .card{
    border: none;
}
.card .top{
    display: flex;
    justify-content: space-between;
}
.card .top span{
    height: 40px;
    
}
#left{
    display: flex;
    flex-direction:column;
}
